POSTGRES_USER=manage
POSTGRES_PASSWORD=manage_password
POSTGRES_DB=manage_development
DATABASE_URL=postgres://manage:manage_password@db:5432/manage_development
RAILS_ENV=development
DEVISE_JWT_SECRET_KEY=dev_jwt_secret_key_change_in_production
